#myVideo {
  position: fixed;
  object-fit: cover;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.nes-btn {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  color: #E6DEDD;
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}
